    <div id="welcome-greeting">
      <img src="{{ site.baseurl }}/images/Cloud-3.png">
      <h1><a href="{{ site.baseurl }}/about/">Metadata Standards Directory Working Group</a></h1>
      <h2>The RDA Metadata Standards Directory Working Group is supported by individuals and organizations involved in the development, implementation, and use of metadata for scientific data. The overriding goal is to develop a collaborative, open directory of metadata standards applicable to scientific data can help address infrastructure challenges.</h2>
      <hr />
    </div>
