    <div id="welcome-greeting">
      <img src="{{ site.baseurl }}/images/Cloud-3.png">
      <h1>RDA Metadata Standards Directory</h1>
      <p>The RDA Metadata Standards Directory is an output of the Research Data Alliance Metadata Standards Directory Working Group, which operated between August 2013 and February 2015.
        It builds on the <a href="https://www.dcc.ac.uk/guidance/standards/metadata">DCC Disciplinary Metadata Catalogue</a>, originally compiled by Liz Bedford.</p>
      <p>The Metadata Standards Directory Working Group was supported by individuals and organizations involved in the development, implementation, and use of metadata for scientific data.
        The overriding goal was to develop a collaborative, open directory of metadata standards applicable to scientific data can help address infrastructure challenges.
        This work is continued by the <a href="https://www.rd-alliance.org/groups/metadata-standards-catalog-working-group.html">RDA Metadata Standards Catalog Working Group</a>.</p>
    </div>
