    <title>{{ page.title }}</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if page.type %}
      {% if page.type contains 'home' %}
        {% assign css = 'css' %}
      {% elsif page.type contains 'standard' %}
        {% assign css = '../css' %}
      {% elsif page.type contains 'use_case' %}
        {% assign css = '../css' %}
      {% elsif page.type contains 'index' %}
        {% assign css = '../css' %}
      {% elsif page.type contains 'extension' %}
        {% assign css = '../css' %}
      {% elsif page.type contains 'tool' %}
        {% assign css = '../css' %}
      {% elsif page.type contains 'action' %}
        {% assign css = '../css' %}
      {% else %}
        {% assign css = 'css' %}
      {% endif %}
    {% else %}
        {% assign css = 'css' %}
    {% endif %}
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ css }}/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ css }}/syntax.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
