    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">RDA Metadata Directory</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ site.baseurl }}">Home</a></li>
            <li><a href="{{ site.baseurl }}/standards/">Standards</a></li>
            <li><a href="{{ site.baseurl }}/extensions/">Extensions</a></li>
            <li><a href="{{ site.baseurl }}/tools/">Tools</a></li>
            <li><a href="{{ site.baseurl }}/use_cases/">Use Cases</a></li>
            <li><a href="https://github.com/gugek/metadata-directory">View on Github</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
