<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/ZeroClipboard.js"></script>

<script type="text/javascript">
      var client = new ZeroClipboard( $('.clip_button'), {moviePath: "../swf/ZeroClipboard.swf" });

      client.on( 'load', function(client) {
        // alert( "movie is loaded" );

        client.on( 'datarequested', function(client) {
          client.setText(this.innerHTML);
        } );

        client.on( 'complete', function(client, args) {
          alert("Copied text to clipboard: " + args.text );
        } );
      } );

      client.on( 'wrongflash noflash', function() {
        ZeroClipboard.destroy();
      } );
</script>

