{% include header.html %}
      {{ content }}
{% include footer.html %}
  

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/ZeroClipboard.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
 
    <script type="text/javascript">
      var client = new ZeroClipboard( $('button.clip-button'),
                       {moviePath: "../swf/ZeroClipboard.swf" });

      client.on( 'load', function(client) {
        // alert( "movie is loaded" );

        client.on( 'complete', function(client, args) {
          alert("Copied template!");
        } );
      } );

      client.on( 'wrongflash noflash', function() {
        ZeroClipboard.destroy();
      } );
    </script>



