
{% include header.html %}
      {% assign subjectAreas = site.pages | where:'type','subject' | sort:"sort" %}
      {% assign disciplines = site.pages | where:'type','discipline' | sort:"name" %}
      {% assign extensions = site.pages | where:'type','extension' | sort:"name" %}
      {% assign tools = site.pages | where:'type','tool' | sort:"name" %}
      {% assign usecases = site.pages | where:'type','use_case' | sort:"name" %}
      <h1>{{ page.title }}</h1>
          <p>{{ page.description }}</p>
      <h2>Summary
        <a href="{{site.repourl}}/edit/{{ site.repobranch }}/standards/{{page.name}}" class="btn btn-default btn-xs" role="button">
          <span class="glyphicon glyphicon-edit"></span> Edit</a>
      </h2>
      <dl>
        {% if page.website %}
        <dt>Standard Website</dt>
        <dd><a href="{{ page.website }}">{{ page.website }}</a></dd>
        {% endif %}
        {% if page.specification_url %}
        <dt>Specification</dt>
        <dd><a href="{{ page.specification_url }}">{{ page.specification_url }}</a></dd>
        {% endif %}
        {% if page.sponsors %}
        <dt>Sponsors</dt>
        {% for sponsor in page.sponsors %}
        <dd><a href="{{ sponsor.url }}">{{ sponsor.name }}</a></dd>
        {% endfor %}
        {% endif %}
        {% if page.contact %}
        <dt>Contact</dt>
        <dd><a href="mailto:{{ page.contact_email }}">{{ page.contact }}</a></dd>
        {% endif %}
        {% if page.standard_update_date %}
        <dt>Standard Update Date</dt>
        <dd>{{ page.standard_update_date }}</dd>
        {% endif %}
        {% if page.status %}
        <dt>Status</dt>
        <dd>{{ page.status }}</dd>
        {% endif %}
        {% if page.related_vocabularies %}
        <dt>Related Vocabularies</dt>
        {% for vocabulary in page.related_vocabularies %}
        <dd><a href="{{ vocabulary.url }}">{{ vocabulary.name }}</a></dd>
        {% endfor %}
        {% endif %}
        {% if page.mappings %}
        <dt>Mappings</dt>
        {% for mapping in page.mappings %}
        <dd><a href="{{ mapping.url }}">{{ mapping.name }}</a></dd>
        {% endfor %}
        {% endif %}
        {% if page.subjects %}
        <dt>Subjects</dt>
        {% for area in subjectAreas %}
        {% if page.subjects contains area.slug%}
        <dd>
          <a href="{{ site.baseurl }}{{ area.url }}">{{ area.title }}</a>
        </dd>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if page.disciplines %}
        <dt>Disciplines</dt>
        {% for area in disciplines %}
        {% if page.disciplines contains area.slug%}
        <dd>
          <a href="{{ site.baseurl }}{{ area.url }}">{{ area.title }}</a>
        </dd>
        {% endif %}
        {% endfor %}
        {% endif %}
      </dl>

      <h2>Extensions
        <a href="../extensions/add.html" class="btn btn-default btn-xs" role="button">
          <span class="glyphicon glyphicon-edit"></span> Add</a>
      </h2>
      <dl>
      {% for implementation in extensions %}
      {% if implementation.standards contains page.slug %}
      <dt>
        <a href="{{ implementation.website }}">{{ implementation.title }}</a>
        <a href="{{site.repourl}}/edit/{{ site.repobranch }}/extensions/{{implementation.name}}" class="btn btn-default btn-xs" role="button">
          <span class="glyphicon glyphicon-edit"></span> Edit</a>
      </dt>
      <dd>{{ implementation.description }}</dd>
      {% endif %}
      {% endfor %}
      </dl>

      <h2>Tools
        <a href="../tools/add.html" class="btn btn-default btn-xs" role="button">
          <span class="glyphicon glyphicon-edit"></span> Add</a>
      </h2>
      <dl>
      {% for implementation in tools %}
      {% if implementation.standards contains page.slug %}
      <dt>
        <a href="{{ implementation.website }}">{{ implementation.title }}</a>
        <a href="{{site.repourl}}/edit/{{ site.repobranch }}/tools/{{implementation.name}}" class="btn btn-default btn-xs" role="button">
          <span class="glyphicon glyphicon-edit"></span> Edit</a>
      </dt>
      <dd>{{ implementation.description }}</dd>
      {% endif %}
      {% endfor %}
      </dl>
      
      <h2>Use Cases
        <a href="../use_cases/add.html" class="btn btn-default btn-xs" role="button">
           <span class="glyphicon glyphicon-edit"></span> Add</a>
      </h2>
      <dl>
      {% for implementation in usecases %}
      {% if implementation.standards contains page.slug %}
      <dt>
        <a href="{{ implementation.website }}">{{ implementation.title }}</a>
        <a href="{{site.repourl}}/edit/{{ site.repobranch }}/use_cases/{{implementation.name}}" class="btn btn-default btn-xs" role="button">
          <span class="glyphicon glyphicon-edit"></span> Edit</a>
      </dt>
      <dd>{{ implementation.description }}</dd>
      {% endif %}
      {% endfor %}
      </dl>
{% include footer.html %}

