---

---
<!DOCTYPE html>
<html>
  <head>
{% include head.html %}
  </head>

  <body>
{% include nav.html %}
    <div class="container">
      <h1>{{ page.title }}</h1>
          <p>{{ page.description }}</p>
      <h2>Summary</h2>
      <dl>
        {% if page.website %}
        <dt>Standard Website</dt>
        <dd><a href="{{ page.website }}">{{ page.website }}</a></dd>
        {% endif %}
        {% if page.specification_url %}
        <dt>Specification</dt>
        <dd><a href="{{ page.specification_url }}">{{ page.specification_url }}</a></dd>
        {% endif %}
        {% if page.sponsor %}
        <dt>Sponsor</dt>
        <dd>{{ page.sponsor }}</dd>
        {% endif %}
        {% if page.standard_update_date %}
        <dt>Standard Update Date</dt>
        <dd>{{ page.standard_update_date }}</dd>
        {% endif %}
        {% if page.related_vocabularies %}
        <dt>Related Vocabularies</dt>
        {% for vocabulary in page.related_vocabularies %}
        <dd><a href="{{ vocabulary.url }}">{{ vocabulary.name }}</a></dd>
        {% endfor %}
        {% endif %}
        {% if page.mappings %}
        <dt>Mappings</dt>
        {% for mapping in page.mappings %}
        <dd><a href="{{ mapping.url }}">{{ mapping.name }}</a></dd>
        {% endfor %}
        {% endif %}
        {% if page.subjects %}
        <dt>Subjects</dt>
        <dd>{{ page.subjects | join: ', '}}</dd>
        {% endif %}
        {% if page.disciplines %}
        <dt>Subjects</dt>
        <dd>{{ page.disciplines | join: ', '}}</dd>
        {% endif %}
      </dl>

      <h2>Extensions
        <a href="../extensions/add.html" class="btn btn-default btn-xs" role="button">
          <span class="glyphicon glyphicon-edit"></span> Add</a>
      </h2>
      <dl>
      {% for implementation in site.pages %}
      {% if implementation.type contains 'extension' %}
      {% if implementation.standards contains page.name %}
      <dt>
        <a href="{{ implementation.website }}">{{ implementation.title }}</a>
        <a href="{{site.repourl}}/edit/{{ site.repobranch }}/extensions/{{implementation.name}}.md" class="btn btn-default btn-xs" role="button">
          <span class="glyphicon glyphicon-edit"></span> Edit</a>
      </dt>
      <dd>{{ implementation.description }}</dd>
      {% endif %}
      {% endif %}
      {% endfor %}
      </dl>

      <h2>Tools
        <a href="../tools/add.html" class="btn btn-default btn-xs" role="button">
          <span class="glyphicon glyphicon-edit"></span> Add</a>
      </h2>
      <dl>
      {% for implementation in site.pages %}
      {% if implementation.type contains 'tool' %}
      {% if implementation.standards contains page.name %}
      <dt>
        <a href="{{ implementation.website }}">{{ implementation.title }}</a>
        <a href="{{site.repourl}}/edit/{{ site.repobranch }}/tools/{{implementation.name}}.md" class="btn btn-default btn-xs" role="button">
          <span class="glyphicon glyphicon-edit"></span> Edit</a>
      </dt>
      <dd>{{ implementation.description }}</dd>
      {% endif %}
      {% endif %}
      {% endfor %}
      </dl>
      
      <h2>Use Cases
        <a href="../use_cases/add.html" class="btn btn-default btn-xs" role="button">
           <span class="glyphicon glyphicon-edit"></span> Add</a>
      </h2>
      <dl>
      {% for implementation in site.pages %}
      {% if implementation.type contains 'use_case' %}
      {% if implementation.standards contains page.name %}
      <dt>
        <a href="{{ implementation.website }}">{{ implementation.title }}</a>
        <a href="{{site.repourl}}/edit/{{ site.repobranch }}/use_cases/{{implementation.name}}.md" class="btn btn-default btn-xs" role="button">
          <span class="glyphicon glyphicon-edit"></span> Edit</a>
      </dt>
      <dd>{{ implementation.description }}</dd>
      {% endif %}
      {% endif %}
      {% endfor %}
      </dl>
{% include footer.html %}
    </div>
{% include tail.html %}
  </body>
</html>
